html{
  scroll-behavior: smooth;
}

body {
  text-align: center;
  max-width: 380px;
  margin: auto;
  border-top: 8px solid #57bb6b;
  font-family: "Quattrocento", serif;
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
  background: #ffffff;
}

header {
  background-image: url(../img/fruits.webp);
  background-size: cover;
  color: #57bb6b;
  padding: 30px;
} 

header div {
  background: #ffffffdd;
  padding: 20px 50px;
  text-align: center;
  margin-bottom: 30px;
}

header div p {
  font-family: "Quattrocento", serif;
  font-size: 20px;
}

.box-green {
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  background: #278b3b;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 5px;
}

.box-white {
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  background: white;
  border-radius: 10px;
  color: #278b3b;
  padding: 10px 15px;
  font-family: "Maven Pro", sans-serif;
  margin-top: 5px;
}

.icone .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.title-main {
  font-family: "Maven Pro", sans-serif;
  color: black;
  background-color: white;
}

main h2 {
  color: white;
  font-family: "Maven Pro", sans-serif;
}

main div {
  background-color: #7db96f;
  padding: 30px 30px 50px;
}

main a {
  width: 50%;
  text-align: left;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

.text-green {
  color: #57bb6b;
  text-align: center;
}

.jus_banane {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  background: #FFF8D7;
  color: #000;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.jus_banane h1 {
  font-family: 'Sriracha', cursive;
}

.sirop_kiwi {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  background: #c4f2ad;
  color: #000;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.sirop_kiwi h1 {
  font-family: 'Sriracha', cursive;
}

.glace_au_cafe {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  background: #d3c6b2;
  color: #000;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.glace_au_cafe h1 {
  font-family: 'Sriracha', cursive;
}

.delice_a_la_fraise {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  background: #f7a4b4;
  color: #000;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
} 

.delice_a_la_fraise h1 {
  font-family: 'Sriracha', cursive;
}

.background-sirop-kiwi {
  background-color: #c4f2ad;
}

.bacground-le-kiwi {
  background-color: #57bb6b;
}

.title-produits {
  font-family: "Maven Pro", sans-serif;
  color: black;
}

.jus-de-banane {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #FFF8D7;
  color: #000;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.sirop-cafe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #d3c6b2;
  color: #000;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.box-nos-autres-produits {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #57bb6b;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  align-items: flex-end;
}

.box-cercle {
  background-color: white;
  padding: 40px;
  border-radius: 50%;
  margin: 30px 50px;
  box-shadow: 0 0 10px #00000075;
}

main h1 {
  font-family: 'Sriracha', cursive;
  margin: 0px;
}

.text-left {
  text-align: left;
  color: white;
}

footer {
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: "Maven Pro", sans-serif;
}

footer {
  border-bottom: 8px solid white;
}
footer h4{
  color: white;
  border-radius: 14px;
  background-color: #7db96f;
  margin-top: 34px;
  margin-left: 24px;
  margin-right: 24px;
}
footer h2 {
  color: #7db96f;
  font-family: "Maven Pro", sans-serif;
}

.box-mail {
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  background-color: #57bb6b;
}

.box-instagram {
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  background-color: #57bb6b;
}

.box-facebook {
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: "Maven Pro", sans-serif;
  background-color: #57bb6b;
}

